@model mfc.web.Models.PackageModel

@{
    ViewBag.Title = "Новый пакет";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </section>

}
@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Packages)
}

@using (Html.BeginForm("SavePackage", "FileList", FormMethod.Post, new { @class = "form", id = "create-package-form" })) {
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OrganizationId)
    @Html.HiddenFor(model => model.Organization)

    <input type="submit" value="Сохранить" class="btn btn-default" id="create-package-submit"/>

    <hr/>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="row">
                    <div id="selected-org" class="col-md-10 col-sm-6" style="margin-right:10px">Не выбрана</div><button id="select-org" type="button" class="btn">...</button>
                    @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div class="row">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <table class="table">
            <tr>
                <th>Дата</th>
                <th>Номер</th>
                <th>Услуга</th>
                <th>ОГВ</th>
                <th>Эксперт</th>
                <th>Контролёр</th>
                <th>Статус</th>
            </tr>

            @for (int index = 0; index < Model.Files.Length; index++) {
                @Html.HiddenFor(m => Model.Files[index].Id)
                @Html.HiddenFor(m => Model.Files[index].Caption)
                @Html.HiddenFor(m => Model.Files[index].Controller)
                @Html.HiddenFor(m => Model.Files[index].Date)
                @Html.HiddenFor(m => Model.Files[index].Expert)
                @Html.HiddenFor(m => Model.Files[index].Organization)
                @Html.HiddenFor(m => Model.Files[index].Service)
                @Html.HiddenFor(m => Model.Files[index].Status)

                <tr>
                    <td>
                        @Model.Files[index].Date.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Files[index].Caption)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Files[index].Service)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Files[index].Organization)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Files[index].Expert)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Files[index].Controller)
                    </td>
                    <td>
                        @Html.DisplayFor(m => Model.Files[index].Status)
                    </td>
                </tr>
            }

        </table>
    </div>
}

<!--
    Блок диалога выбора ОГВ
-->
<div id="select-org-form" title="Выбор ОГВ">

</div>


<script type="text/javascript">
    var dialog_org, dialog_srv;
    var site_name;
    site_name = "";

    $(function () {
        //инициализируем заголовки для ОГВ и услуги
        var org_caption;
        org_caption = $('#Organization').attr('value');
        if (org_caption != '') {
            $('#selected-org').html(org_caption);
        }

        //создаем диалоги
        dialog_org = $("#select-org-form").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            open: fillOrgList
        });

        function fillOrgList() {
            $.get(site_name + '/Organization/ListData', null, function (data, textStatus) {
                var list_div;
                list_div = $('#select-org-form');
                list_div.html('');

                data.forEach(function (item, i, arr) {
                    list_div.append('<div><a href="javascript:void(0)" onclick="selectOrg(' + item.Id + ', \'' + item.Caption + '\')">' + item.Caption + '</a></div>');
                });
            });
        }

        $("#select-org").button().on("click", function () {
            dialog_org.dialog('open');
        });
    });

    function selectOrg(id, caption) {
        $('#selected-org').html(caption);
        $('input#OrganizationId').attr('value', id);
        $('input#Organization').attr('value', caption);

        dialog_org.dialog('close');
    }

    $("#create-package-submit").click(function () {
        clear_checked_files();
    })
</script>