@using HtmlHelpers.BeginCollectionItem
@model mfc.web.Models.PackageModel

@{
    ViewBag.Title = "Редактирование пакета";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </section>

}
@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Packages)
}

@using (Html.BeginForm("Edit", "Package", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OrganizationId, new { id = "package-organization-id" })
    @Html.HiddenFor(model => model.Organization, new { id = "package-organization" })
    @Html.HiddenFor(model => model.ControllerId)
    @Html.HiddenFor(model => model.Id)

    <input type="submit" value="Сохранить" class="btn btn-default" />
    @Html.ActionLink("Реестр", "Report", new { id = Model.Id })
    <hr />

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2", id = "package-organization-id" })
            <div class="col-md-10">
                <div id="package-selected-org" class="col-md-10 col-sm-6" style="margin-right:10px">Не выбрана</div><button id="package-select-org" type="button" class="btn">...</button>
                @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", Model.Statuses.Select(x => new SelectListItem { Text = x.Caption, Value = x.Id.ToString() }), string.Empty, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Дата</th>
            <th>Номер</th>
            <th>Услуга</th>
            <th>ОГВ</th>
            <th>Эксперт</th>
            <th>Контролёр</th>
            <th>Статус</th>
            <th></th>
        </tr>

        @foreach(var file in Model.Files) {
            using (Html.BeginCollectionItem("Files")) {
                Html.RenderPartial("_FileModelItem", file);
            }
        }

    </table>
}

<!--//
    Query dialog section
-->
<div id="query-dialog" title="Исключение дела">
    Исключить дело?
</div>

<div class="waiting"></div>

<script type="text/javascript">
    var wait_dialog;
    var dialog_action;

    $(function () {
        $("#query-dialog").dialog({
            autoOpen: false,
            modal: true
        });
        wait_dialog = $(".waiting");

        //Обработка события нажатия на кнопку "Прием" - отображение диалога редактирования данных приема
        $(".edit-action-link").on("click", function () {
            $('body').append('<div id="edit-action-dialog" style="z-index: -9999" title="Редактирование приема"></div>');
            //диалог для редактирования приема
            dialog_action = $("#edit-action-dialog").dialog({
                autoOpen: false,
                height: 600,
                width: 600,
                modal: true,
                open: getAction($(this).parent().parent()),
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

            dialog_action.dialog('open');
        });
    });



    $(".delete-link").click(function (e) {
        e.preventDefault();

        var row = $(this).parent().parent();

        $("#query-dialog").dialog({
            buttons: {
                "Удалить": function () {
                    $(this).dialog('close');

                    wait_dialog.show();
                    row.remove();
                    wait_dialog.hide();

                },
                "Отмена": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#query-dialog").dialog("open");
    });

    

    function getAction(row) {
        var action_id = row.find('input[type="hidden"]:last').attr('value');

        var list_div;
        list_div = $('#edit-action-dialog');
        list_div.html('');
        $.get(site_name + '/Action/EditPartial/' + action_id, null, function (data) {
            list_div.html(data);

            //обработка нажатия кнопки сохранить
            $(document).on('submit', 'form#edit-action-form', function (e) {
                var is_in_dialog = $('input#IsItInDialog').attr('value');

                if (is_in_dialog == 'True') {
                    e.preventDefault();
                    var form = $(this);

                    $.ajax({
                        url: form.attr('action'),
                        type: "POST",
                        data: form.serialize(),
                        success: function (result) {
                            if (result == true) {
                                reload_action(row, action_id);
                                dialog_action.dialog('close');
                            }
                            else {
                                list_div.html('<p style="color:red;font-weight:bold">' + result.message + '</p>');
                            }
                        }
                    });
                }
            });


        });
    }

    //перегрузить данные приема
    function reload_action(row, action_id) {
        $.get(site_name + '/Action/GetById/' + action_id, null, function (data) {
            if (data != 'false') {
                row.find("td").eq(0).html(jsonDateToString(data.Date));
                row.find("td").eq(2).html(data.Service);
                row.find("td").eq(3).html(data.Organization);
                row.find("td").eq(4).html(data.Expert);
            }
        });
    }
</script>
<!--
    organization dialog section
-->
<script>
    var dialog_org, dialog_srv;
    var site_name;
    site_name = "";

    $(function () {
        //инициализируем заголовки для ОГВ и услуги
        var org_caption;
        org_caption = $('#package-organization').attr('value');
        if (org_caption != '') {
            $('#package-selected-org').html(org_caption);
        }

        //создаем диалоги
        dialog_org = $("#select-org-form").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            open: fillOrgList
        });

        function fillOrgList() {
            $.get(site_name + '/Organization/ListData', null, function (data) {
                var list_div;
                list_div = $('#select-org-form');
                list_div.html('');

                data.forEach(function (item, i, arr) {
                    list_div.append('<div><a href="javascript:void(0)" onclick="selectOrg(' + item.Id + ', \'' + item.Caption + '\')">' + item.Caption + '</a></div>');
                });
            });
        }

        $("#package-select-org").button().on("click", function () {
            dialog_org.dialog('open');
        });
    });

    function selectOrg(id, caption) {
        $('#package-selected-org').html(caption);
        $('input#package-organization-id').attr('value', id);
        $('input#package-organization').attr('value', caption);

        dialog_org.dialog('close');
    }

</script>

<div id="select-org-form" title="Выбор ОГВ">

</div>