@model mfc.web.Models.PackageListViewModel

@{
    ViewBag.Title = "Пакеты";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="page-header">@ViewBag.Title</h1>
            <p>
                @using (Html.BeginForm()) {
                    <div style="margin: 0 10px;float:left">
                        @Html.LabelFor(m => m.BeginDate): @Html.EditorFor(m => m.BeginDate)
                    </div>
                    <div style="margin: 0 10px;float:left">
                        @Html.LabelFor(m => m.EndDate): @Html.EditorFor(m => m.EndDate)
                    </div>
                    <div style="margin: 0 10px;float:left">
                        @Html.LabelFor(m => m.SelectedOgvId): @Html.DropDownListFor(m => m.SelectedOgvId, new SelectList(Model.Organizations, "Id", "Caption"), new { @class = "form-control" })
                    </div>
                    <div style="margin: 0 10px;float:left">
                        @Html.LabelFor(m => m.SelectedControllerId): @Html.DropDownListFor(m => m.SelectedControllerId, new SelectList(Model.Controllers, "Id", "Name"), new { @class = "form-control" })
                    </div>
                    <input type="submit" value="Обновить" class="btn btn-lg btn-default" />
                    <div style="clear:both" />
                }
            </p>
        </div>
    </section>

}
@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Packages)
}

<table class="table">
    <tr>
        <th>Дата</th>
        <th>ОГВ</th>
        <th>Контролёр</th>
        <th>Описание</th>
        <th></th>
    </tr>

    @foreach (var package in Model.Packages) {

        <tr>
            <td>
                @package.Date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(m => package.Organization.Caption)
            </td>
            <td>
                @Html.DisplayFor(m => package.Controller.Name)
            </td>
            <td>
                @Html.DisplayFor(m => package.Comment)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", "Package", new { id = package.Id}, new { })
                @Html.ActionLink("Удалить", "Delete", "Package", new { id = package.Id }, new { @class = "delete-link" })
            </td>
        </tr>
    }

</table>
<!--//
    Query dialig section
-->
<div id="query-dialog" title="Удаление пакета">
    Удалить пакет?
</div>

<div class="waiting"></div>

<script type="text/javascript">
    var wait_dialog;

    $(function() {
        $("#query-dialog").dialog({
            autoOpen: false,
            modal: true
        });
        wait_dialog = $(".waiting");
    });
  
  

    $(".delete-link").click(function(e) {
        e.preventDefault();
        var targetUrl = $(this).attr("href");
        var row = $(this).parent().parent();

        $("#query-dialog").dialog({
            buttons : {
                "Удалить": function () {
                    $(this).dialog('close');
                    wait_dialog.show();

                    $.post(targetUrl, function (data) {
                        if (data == '@Boolean.TrueString') {
                            row.remove();
                        }
                        else {
                            alert('Не удалось удалить пакет');
                        }

                        wait_dialog.hide();
                    });
                    
                },
                "Отмена" : function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#query-dialog").dialog("open");
    });
</script>
