@model mfc.webapi.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </section>
}

<section id="loginForm">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder="Имя пользователя", type="username" })
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Пароль" })
            @Html.ValidationMessageFor(m => m.Password)
        <input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block" />
    </fieldset>
}

    <div>
        <div class="loginForm">
            <h3>Вход на сайт</h3>
            <label>Введите email</label><br />
            <input type="email" id="emailLogin" /> <br /><br />
            <label>Введите пароль</label><br />
            <input type="password" id="passwordLogin" /><br /><br />
            <input type="submit" id="submitLogin" value="Логин" />
        </div>
    </div>

    <script type="text/javascript">
        //при аутентификации очищаем отмеченный дела
        clear_checked_files();

        $(function() {
            var tokenKey = "tokenInfo";
            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };
                console.log(loginData);

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).success(function (data) {
                    $('.userName').text(data.userName);
                    $('.userInfo').css('display', 'block');
                    $('.loginForm').css('display', 'none');
                    // сохраняем в хранилище sessionStorage токен доступа
                    sessionStorage.setItem(tokenKey, data.access_token);
                    console.log(data.access_token);
                }).fail(function (data) {
                    alert('При логине возникла ошибка');
                });
            });
        });
    </script>
</section>