@model mfc.web.Models.OrganizationModel

@{
    var for_edit = Model.Id > 0;
    
    if (for_edit) { 
        ViewBag.Title = "Редактирование ОГВ";
    }
    else {
        ViewBag.Title = "Добавление ОГВ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_AdminMenu", 2)
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(for_edit ? "Edit" : "Create", "Organization", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrganizationModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Caption)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Caption)
            @Html.ValidationMessageFor(model => model.Caption)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullCaption)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullCaption)
            @Html.ValidationMessageFor(model => model.FullCaption)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TypeCaption)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.TypeId, new SelectList(ViewBag.OrganizationTypes, "Id", "Caption"), new { @class = "form-control" })
        </div>

        <p>
            <input type="submit" value="Сохранить" class="btn btn-lg btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("К списку ОГВ", "List")
</div>