@model mfc.web.Models.LoginModel

@{
    ViewBag.Title = "Вход в систему";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </section>
}

<section id="loginForm">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder="Имя пользователя", type="username" })
            @Html.ValidationMessageFor(m => m.UserName)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Пароль" })
            @Html.ValidationMessageFor(m => m.Password)
        <input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block" />
    </fieldset>
}
</section>