<!-- Modal for create user-->
<div class="modal fade" id="CreateUser" tabindex="-1" role="dialog"
     aria-labelledby="CreateUserLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="newUserForm" ng-submit="createUser()" novalidate>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : newUserForm.Name.$invalid && !newUserForm.Name.$pristine }">
                        <input type="text" name="Name" class="form-control" ng-model="mainUser.User_Name" required placeholder="Логин пользователя">
                        <p ng-show="newUserForm.Name.$invalid && !newUserForm.Name.$pristine" class="help-block">Укажите логин пользователя</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : newUserForm.Description.$invalid && !newUserForm.Description.$pristine }">
                        <input type="text"  name="Description" class="form-control" ng-model="mainUser.Description" required placeholder="Ф.И.О. пользователя">
                        <p ng-show="newUserForm.Description.$invalid && !newUserForm.Description.$pristine" class="help-block">Укажите Ф.И.О. пользователя</p>
                    </div>
                    <p>Роль</p>
                    <div class="form-group">
                        @Html.CheckBox("is_admin", false, new { @ng_model = "mainUser.is_admin" })
                        @Html.Label("Администратор", new { @for = "is_admin" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBox("is_expert", new { @ng_model = "mainUser.is_expert" })
                        @Html.Label("Эксперт", new { @for = "is_expert" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBox("is_controller", new { @ng_model = "mainUser.is_controller" })
                        @Html.Label("Контролер", new { @for = "is_controller" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success" ng-disabled="newUserForm.$invalid">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>