<!-- Modal for update user-->
<div class="modal fade" id="UpdateUser" tabindex="-1" role="dialog"
     aria-labelledby="UpdateUserLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="updateUserForm" ng-submit="updateUser()" novalidate>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : updateUserForm.Name.$invalid && !updateUserForm.Name.$pristine }">
                        <input type="text" name="Name" class="form-control" ng-model="mainUser.user_name" required placeholder="Логин пользователя">
                        <p ng-show="updateUserForm.Name.$invalid && !updateUserForm.Name.$pristine" class="help-block">Укажите логин пользователя</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : updateUserForm.Description.$invalid && !updateUserForm.Description.$pristine }">
                        <input type="text" name="Description" class="form-control" ng-model="mainUser.description" required placeholder="Ф.И.О. пользователя">
                        <p ng-show="updateUserForm.Description.$invalid && !updateUserForm.Description.$pristine" class="help-block">Укажите Ф.И.О. пользователя</p>
                    </div>
                    <p>Роль</p>
                    <div class="form-group">
                        @Html.CheckBox("is_admin", false, new { @ng_model = "mainUser.is_admin" })
                        @Html.Label("Администратор", new { @for = "is_admin" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBox("is_expert", new { @ng_model = "mainUser.is_expert" })
                        @Html.Label("Эксперт", new { @for = "is_expert" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBox("is_controller", new { @ng_model = "mainUser.is_controller" })
                        @Html.Label("Контролер", new { @for = "is_controller" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success" ng-disabled="updateUserForm.$pristine ||updateUserForm.$invalid">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>