@model mfc.web.Models.ServiceModel

@{
    var for_edit = Model.Id > 0;
    
    if (for_edit) { 
        ViewBag.Title = "Редактирование услуги";
    }
    else {
        ViewBag.Title = "Добавление услуги";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_AdminMenu", 4)
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(for_edit ? "Edit" : "Create", "ServiceChild", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrganizationModel</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ParentId)
        @Html.HiddenFor(model => model.OrgId)

        <div class="editor-label">
            @Html.LabelFor(model => model.OrgCaption) @Model.OrgCaption
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentCaption) @Model.ParentCaption
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Caption)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Caption)
            @Html.ValidationMessageFor(model => model.Caption)
        </div>

        <p>
            <input type="submit" value="Сохранить" class="btn btn-lg btn-default" />
        </p>
    </fieldset>
}
<hr/>
<div>
    <p>@Html.ActionLink("К списку подулуг", "Index", new { parentId = Model.ParentId })</p>
</div>