@model List<mfc.web.Models.FileModelItem>

@using (Html.BeginForm("", "FileList", FormMethod.Post)) {
    <input type="submit" value="Принять" class="btn btn-lg btn-default" name="action:ControlList" />
    <input type="submit" value="Создать пакет" class="btn btn-lg btn-default" name="action:CreatePackage"/>

    <table class="table">
        <tr>
            <th></th>
            <th>Дата</th>
            <th>Номер</th>
            <th>Услуга</th>
            <th>ОГВ</th>
            <th>Эксперт</th>
            <th>Контролёр</th>
            <th>Статус</th>
            <th></th>
        </tr>

        @for (int index = 0; index < Model.Count; index++) {
            Int64 item_id = Model[index].Id;

            @Html.HiddenFor(m => Model[index].Id)
            @Html.HiddenFor(m => Model[index].Caption)
            @Html.HiddenFor(m => Model[index].Controller)
            @Html.HiddenFor(m => Model[index].Date)
            @Html.HiddenFor(m => Model[index].Expert)
            @Html.HiddenFor(m => Model[index].Organization)
            @Html.HiddenFor(m => Model[index].Service)
            @Html.HiddenFor(m => Model[index].Status)

            <tr>
                <td>
                    @Html.CheckBoxFor(m => Model[index].IsChecked)
                </td>
                <td>
                    @Model[index].Date.ToString("dd.MM.yyyy")
                </td>
                <td>
                    @Html.DisplayFor(m => Model[index].Caption)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[index].Service)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[index].Organization)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[index].Expert)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[index].Controller)
                </td>
                <td>
                    @Html.DisplayFor(m => Model[index].Status)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", "File", new { id = item_id }, new { })
                    @Html.ActionLink("Удалить", "Delete", "File", new { id = item_id }, new { @class = "delete-link" })
                </td>
            </tr>
        }

    </table>
}

<!--//
Query dialig section
-->
<div id="query-dialog" title="Удаление дела">
    Удалить Дело?
</div>
<div class="waiting"></div>

<script type="text/javascript">
    var wait_dialog;

    $(function() {
        $("#query-dialog").dialog({
            autoOpen: false,
            modal: true
        });
        wait_dialog = $(".waiting");
    });



    $(".delete-link").click(function(e) {
        e.preventDefault();
        var targetUrl = $(this).attr("href");
        var row = $(this).parent().parent();

        $("#query-dialog").dialog({
            buttons : {
                "Удалить": function () {
                    $(this).dialog('close');
                    wait_dialog.show();

                    $.post(targetUrl, function (data) {
                        if (data == '@Boolean.TrueString') {
                            row.remove();
                        }
                        else {
                            alert('Не удалось удалить пакет');
                        }

                        wait_dialog.hide();
                    });

                },
                "Отмена" : function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#query-dialog").dialog("open");
    });
               </script>
