@model List<mfc.web.Models.FileModelItem>

@using (Html.BeginForm(string.Empty, "FileList", FormMethod.Post, new { id = "file-list-form" }))
{
    <div class="row">
        <div class="table-responsive table-condensed">
            <table class="table table-bordered table-hover" id="file-list-table">
                <thead>
                    <tr>
                        <th><a href="javascript:void(0)" id="clear-checkboxes-button">x</a></th>
                        <th>Дата</th>
                        <th>Номер</th>
                        <th>Услуга</th>
                        <th>ОГВ</th>
                        <th>Эксперт</th>
                        <th>Контролёр</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @for (var index = 0; index < Model.Count; index++)
                    {
                        var item_id = Model[index].Id;
                        string input_id = $"file{item_id}";

                        <tr>
                            <td><input id="@input_id" data-val="true" name="@input_id" type="checkbox" value="@Model[index].IsChecked" /></td>
                            <td>@Model[index].Date.ToString("dd.MM.yyyy")</td>
                            <td>@Html.DisplayFor(m => Model[index].Caption)</td>
                            <td>@Html.DisplayFor(m => Model[index].Service)</td>
                            <td>@Html.DisplayFor(m => Model[index].Organization)</td>
                            <td>@Html.DisplayFor(m => Model[index].Expert)</td>
                            <td>@Html.DisplayFor(m => Model[index].Controller)</td>
                            <td>@Html.DisplayFor(m => Model[index].Status)</td>
                            <td class="col-toolbar">
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                    @Html.ActionLink("Изменить", "Edit", "File", new { id = item_id }, new { @class = "btn btn-default" })
                                    @Html.ActionLink("Удалить", "Delete", "File", new { id = item_id }, new { @class = "btn btn-danger" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div id="query-dialog" title="Удаление дела">
    Удалить Дело?
</div>

<div class="waiting"></div>

<script type="text/javascript">
    var wait_dialog;

    function update_checkboxes() {
        var checkboxes = get_checked_files();

        if (checkboxes != {}) {
            $("#file-list-table :checkbox").each(function() {
                if (checkboxes[this.id] != undefined) {
                    this.checked = checkboxes[this.id];
                } else {
                    this.checked = false;
                }
            });
        }
    }

    $(function() {
        $("#query-dialog").dialog({
            autoOpen: false,
            modal: true
        });

        wait_dialog = $(".waiting");
    });

    $("#file-list-table :checkbox").on("change", function() {
        if (this.checked) {
            add_checked_file(this.id);
        } else {
            remove_checked_file(this.id);
        }
    });

    $(function() {
        update_checkboxes();
    });

    $("#clear-checkboxes-button").click(function() {
        clear_checked_files();
        update_checkboxes();
    });

    $(".delete-link").click(function(e) {
        e.preventDefault();
        var targetUrl = $(this).attr("href");
        var row = $(this).parent().parent();

        $("#query-dialog").dialog({
            buttons: {
                "Удалить": function() {
                    $(this).dialog('close');
                    wait_dialog.show();

                    $.post(targetUrl, function(data) {
                        if (data == '@Boolean.TrueString') {
                            row.remove();
                        } else {
                            alert('Не удалось удалить пакет');
                        }

                        wait_dialog.hide();
                    });

                },
                "Отмена": function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#query-dialog").dialog("open");
    });

    $("input[name='action:CreatePackage'").click(function() {
        var checked_files = get_checked_files();
        if (checked_files != {}) {
            var input = $("<input>")
                .attr("type", "hidden")
                .attr("name", "checked-files").val(JSON.stringify(checked_files));

            $('#file-list-form').append($(input));
        }
    })
</script>
