@model mfc.web.Models.FileModel

@{
    ViewBag.Title = "Редактирование дела";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewData.ModelState.ContainsKey("save_file_error")) {
        ViewBag.ErrorMessage = String.Format("Ошибка при сохранении дела: {0}", ViewData.ModelState["save_file_error"].Errors[0].ErrorMessage);
    }
}

@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Files)
}

<script>
    var dialog_statuses, dialog_action;
    var site_name;
    site_name = "";

    $(function () {
        //диалог для истории статусов
        dialog_statuses = $("#show-statuses-form").dialog({
            autoOpen: false,
            height: 450,
            width: 800,
            modal: true,
            open: fillStatuses
        });

        //заполнение диалгола истрии статусов
        function fillStatuses() {
            var file_id;
            file_id = $('input#Id').attr('value');

            var list_div;
            list_div = $('#show-statuses-form');
            list_div.html('');
            list_div.append('<div class="row">');

            list_div.append('<b><div class="col-sm-2 col-md-2">Дата</div><div class="col-sm-3 col-md-3">Статус</div><div class="col-sm-3 col-md-3">Пользователь</div><div class="col-sm-3 col-md-3">Комментарий</div><div class="clearfix"/></b><hr/>');
            $.get(site_name + '/File/FileStatuses/' + file_id, null, function (data, textStatus) {
                data.forEach(function (item, i, arr) {
                    list_div.append('<div class="col-sm-2 col-md-2">' + item.Date + '</div><div class="col-sm-3 col-md-3">' + item.Status + '</div><div class="col-sm-3 col-md-3">' + item.User + '</div><div class="col-sm-3 col-md-3">' + item.Comments + '</div><div class="clearfix"/><hr/>');
                });
            });
            list_div.append('</div>');
        }

        
        //Обработка события нажатия на кнопку "История" - отображение списка истрии изменения статуса дела
        $("#show-statuses").on("click", function () {
            dialog_statuses.dialog('open');
        });


        //Обработка события нажатия на кнопку "Прием" - отображение диалога редактирования данных приема
        $("#edit-action").on("click", function () {
            $('body').append('<div id="edit-action-dialog" style="z-index: -9999" title="Редактирование приема"></div>');
            //диалог для редактирования приема
            dialog_action = $("#edit-action-dialog").dialog({
                autoOpen: false,
                height: 600,
                width: 600,
                modal: true,
                open: getAction,
                close: function () {
                    $(this).dialog('destroy').remove();
                }
            });

            dialog_action.dialog('open');
        });
    });

    //перегрузить данные приема
    function reload_action(action_id) {
        $.get(site_name + '/Action/GetById/' + action_id, null, function (data) {
            if (data != 'false') {
                $('#action-date').html(jsonDateToString(data.Date));
                $('#action-expert').html(data.Expert);
                $('#action-organization').html(data.Organization);
                $('#action-service').html(data.Service);
                $('#action-service-child').html(data.ServiceChild);
            }
        });
    }

    function getAction() {
        var action_id;
        action_id = $('input#ActionId').attr('value');

        var list_div;
        list_div = $('#edit-action-dialog');
        list_div.html('');
        $.get(site_name + '/Action/EditPartial/' + action_id, null, function (data, textStatus) {
            list_div.html(data);

            //обработка нажатия кнопки сохранить
            $(document).on('submit', 'form#edit-action-form', function (e) {
                var is_in_dialog = $('input#IsItInDialog').attr('value');

                if (is_in_dialog == 'True') {
                    e.preventDefault();
                    var form = $(this);

                    $.ajax({
                        url: form.attr('action'),
                        type: "POST",
                        data: form.serialize(),
                        success: function (result) {
                            if (result == true) {
                                reload_action(action_id);
                                dialog_action.dialog('close');
                            }
                            else {
                                list_div.html('<p style="color:red;font-weight:bold">' + result.message + '</p>');
                            }
                        }
                    });
                }
            });


        });
    }

</script>

<div id="show-statuses-form" title="История">

</div>


<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8 col-sd-8">
        @using (Html.BeginForm("Edit", "File", FormMethod.Post, new { @class = "form" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.ErrorMessage != null) { 
                <h3 class="validation-summary-errors">*@ViewBag.ErrorMessage</h3>
            }


            <fieldset>
                <legend>FileModel</legend>

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Date)
                @Html.HiddenFor(model => model.Organization)
                @Html.HiddenFor(model => model.Expert)
                @Html.HiddenFor(model => model.Service)
                @Html.HiddenFor(model => model.Status)
                @Html.HiddenFor(model => model.ActionId)


                <div class="editor-label">
                    @Html.LabelFor(model => model.Date)
                </div>
        
                <div class="editor-field" id="action-date">
                    @Html.DisplayFor(model => model.Date)
                </div>

                 <div class="display-label">
                    @Html.LabelFor(model => model.Expert)
                </div>
                <div class="editor-field" id="action-expert">
                    @Html.DisplayFor(m => m.Expert)
                </div>

                <div class="display-label">
                    @Html.LabelFor(model => model.Organization)
                </div>
                <div class="editor-field" id="action-organization">
                    @Html.DisplayFor(m => m.Organization)
                </div>

                <div class="display-label">
                    @Html.LabelFor(model => model.Service)
                </div>
                <div class="editor-field" id="action-service">
                    @Html.DisplayFor(model => model.Service)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.Controller)
                </div>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Controller)
                </div>
                <div class="display-label">
                    @Html.LabelFor(model => model.Status)
                </div>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Status)
                </div>
                <hr/>
                <div class="display-label">
                    @Html.LabelFor(model => model.Caption)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Caption)
                </div>

                    <p>
                        <input type="submit" value="Сохранить" class="btn btn-lg btn-default" />
                    </p>
        </fieldset>
        }
        <div>
            @Html.ActionLink("Возврат к списку", "Index", new { date = Model.Date.ToString("dd.MM.yyyy")})
        </div>
    </div>
    <div class="col-md-4 col-sd-4">
        <div class="action-menu">
            <p>@Html.ActionLink("Отправить на контроль", "Control", new { fileId = Model.Id })</p>
            <p>@Html.ActionLink("Вернуть для исправления", "Return", new { fileId = Model.Id })</p>
            <p>@Html.ActionLink("Проверено", "Check", new { fileId = Model.Id })</p>
            <hr/>
            <p><a href="javascript:void(0)" id="edit-action">Прием</a> </p>
            <p><a href="javascript:void(0)" id="show-statuses">Показать историю</a></p>
        </div>

    </div>
</div>
