@model mfc.web.Models.FileListViewModel

@{
    ViewBag.Title = "Список дел";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="page-header">@ViewBag.Title</h1>
            <p>
               @using (Html.BeginForm()) {
                <div style="margin: 0 10px;float:left">Дата: @Html.EditorFor(m => m.Date)</div>
                <div style="margin: 0 10px;float:left">
                    Статус: @Html.DropDownListFor(m => m.SelectedStatusId, new SelectList(Model.Statuses, "Id", "Caption"))
                </div>
                <div style="margin: 0 10px;float:left">
                    ОГВ: @Html.DropDownListFor(m => m.SelectedOgvId, new SelectList(Model.Organizations, "Id", "Caption"))
                </div>
                <div style="margin: 0 10px;float:left">
                    Контроллер: @Html.DropDownListFor(m => m.SelectedUserId, new SelectList(Model.Controllers, "Id", "Name"))
                </div>
                <input type="submit" value="Обновить" />
                <div style="clear:both" />
               }
            </p>
        </div>
    </section>
}

@section workmenu {
    @Html.Partial("_WorkMenu", 1)
}


<table id="actions-list">
    <tr>
        <th>Дата</th>
        <th>Номер</th>
        <th>Услуга</th>
        <th>ОГВ</th>
        <th>Эксперт</th>
        <th>Контроллёр</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Files) {
        <tr>
            <td>
                @item.Date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action.Service.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ogv.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expert.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller.Name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>