@model mfc.web.Models.FileReturnModel

@{
    ViewBag.Title = "Возвратить для исправления";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Files)
}


<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8 col-sd-8">
        @using (Html.BeginForm("Return", "File", FormMethod.Post, new { @class = "form" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            if (ViewBag.ErrorMessage != null) {
                <h3 class="validation-summary-errors">*@ViewBag.ErrorMessage</h3>
            }


            <fieldset>
                <legend>FileModel</legend>

                @Html.HiddenFor(model => model.FileId)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Comments)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Comments)
                </div>

                <p>
                    <input type="submit" value="Отправить" class="btn btn-lg btn-default" />
                </p>
            </fieldset>
        }
        <div>
            @Html.ActionLink("Возврат к делу", "Edit", new { id = Model.FileId })
        </div>
    </div>
</div>
