@model mfc.web.Models.ServiceActionViewModel

@section workmenu {
    @Html.Partial("_WorkMenu", 0)
}

<h3>Удалить работу?</h3>
@using (Html.BeginForm("Delete", "Action", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ServiceActionViewModel</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.ExpertId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpertId)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Expert)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>

        <div class="editor-field">
            @Html.DisplayFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Customer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceId)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Service)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Type)
        </div>

        <p>
            <input type="submit" value="Удалить" class="btn btn-lg btn-default" />
        </p>
    </fieldset>
}
<p>
    @Html.ActionLink("Возврат к списку", "Index", new { date = Model.Date.ToString("dd.MM.yyyy"), user_id = Model.ExpertId })
</p>
