@model mfc.web.Models.ServiceActionViewModel

@{
    if (Model.Id == 0) { 
        ViewBag.Title = "Новый прием";
    }
    else {
        ViewBag.Title = "Редактирование приема";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (ViewData.ModelState.ContainsKey("save_file_error")) {
        ViewBag.ErrorMessage = String.Format("Ошибка при сохранении дела: {0}", ViewData.ModelState["save_file_error"].Errors[0].ErrorMessage);
    }
}

@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Services)
}

<script>
    var dialog_org, dialog_srv;
    var site_name;
    site_name = "";

    $(function () {
        //инициализируем заголовки для ОГВ и услуги
        var org_caption;
        org_caption = $('#Organization').attr('value');
        if (org_caption != '') {
            $('#selected-org').html(org_caption);
        }

        var srv_caption;
        srv_caption = $('#Service').attr('value');
        if (srv_caption != '') {
            $('#selected-service').html(srv_caption);
        }

        var srv_child_caption;
        srv_child_caption = $('#ServiceChild').attr('value');
        if (srv_child_caption != '') {
            $('#selected-service-child').html(srv_child_caption);
        }
        

        //создаем диалоги
        dialog_org = $("#select-org-form").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            open: fillOrgList
        });

        dialog_srv = $("#select-srv-form").dialog({
            autoOpen: false,
            height: 500,
            width: 500,
            modal: true,
            open: fillSrvList
        });

        dialog_srv_child = $("#select-srv-child-form").dialog({
            autoOpen: false,
            height: 500,
            width: 500,
            modal: true,
            open: fillSrvChildList
        });

        function fillOrgList() {
            $.get(site_name + '/Organization/ListData', null, function (data, textStatus) {
                var list_div;
                list_div = $('#select-org-form');
                list_div.html('');

                data.forEach(function (item, i, arr) {
                    list_div.append('<div><a href="javascript:void(0)" onclick="selectOrg(' + item.Id + ', \'' + item.Caption + '\')">' + item.Caption + '</a></div>');
                });
            });
        }

        function fillSrvList() {
            var org_id;
            org_id = $('input#OrganizationId').attr('value');

            var list_div;
            list_div = $('#select-srv-list');
            list_div.html('');

            $.get(site_name + '/Service/ListData/' + org_id, null, function (data, textStatus) {
                data.forEach(function (item, i, arr) {
                    list_div.append('<div><a href="#" onclick="selectSrv(' + item.Id + ', \'' + item.Caption + '\')">' + item.Caption + '</a><hr/></div>');
                });
            });
        }

        function fillSrvChildList() {
            var srv_id;
            srv_id = $('input#ServiceId').attr('value');

            var list_div;
            list_div = $('#select-srv-child-form');
            list_div.html('');

            $.get(site_name + '/Service/ChildListData/' + srv_id, null, function (data, textStatus) {
                data.forEach(function (item, i, arr) {
                    list_div.append('<div><a href="#" onclick="selectSrvChild(' + item.Id + ', \'' + item.Caption + '\')">' + item.Caption + '</a><hr/></div>');
                });
            });
        }

        $("#select-org").button().on("click", function () {
            dialog_org.dialog('open');
        });

        $("#select-service").button().on("click", function () {
            var org_id;
            org_id = $('#OrganizationId').attr('value');
            if (org_id == undefined || org_id == null || org_id =='') {
                alert("Не выбрана ОГВ");
                return;
            }
            dialog_srv.dialog('open');
        });

        $("#select-service-child").button().on("click", function () {
            var org_id;
            srv_id = $('#ServiceId').attr('value');
            if (srv_id == undefined || srv_id == null || srv_id == '') {
                alert("Не выбрана Услуга");
                return;
            }
            dialog_srv_child.dialog('open');
        });
        $('#search').keyup(function () {
            var valThis = $(this).val();
            $('#select-srv-list>div').each(function () {
                var text = $(this).text().toLowerCase();
                (text.indexOf(valThis) >= 0) ? $(this).show() : $(this).hide();
            });
        });
    });

    function selectOrg(id, caption) {
        $('#selected-org').html(caption);
        $('input#OrganizationId').attr('value', id);
        $('input#Organization').attr('value', caption);
        dialog_org.dialog('close');

    }

    function selectSrv(id, caption) {
        $('#selected-service').html(caption);
        $('input#ServiceId').attr('value', id);
        $('input#Service').attr('value', caption);
        dialog_srv.dialog('close');
    }

    function selectSrvChild(id, caption) {
        $('#selected-service-child').html(caption);
        $('input#ServiceChildId').attr('value', id);
        $('input#ServiceChild').attr('value', caption);
        dialog_srv_child.dialog('close');
    }
</script>

<div id="select-org-form" title="Выбор ОГВ">
    
</div>

<div id="select-srv-form" title="Выбор услуги">
    <input id="search" class="form-control" />
    <hr/>
    <div id="select-srv-list"></div>
</div>

<div id="select-srv-child-form" title="Выбор услуги">

</div>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(Model.Id > 0 ? "Edit" : "Create", "Action", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (ViewBag.ErrorMessage != null) { 
        <h3 class="validation-summary-errors">*@ViewBag.ErrorMessage</h3>
    }


    <fieldset>
        <legend>ServiceActionViewModel</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ServiceId)
        @Html.HiddenFor(model => model.ServiceChildId)
        @Html.HiddenFor(model => model.OrganizationId)
        @Html.HiddenFor(model => model.Organization)
        @Html.HiddenFor(model => model.Service)
        @Html.HiddenFor(model => model.ServiceChild)

        <input hidden="hidden" id="org_id" />

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpertId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.ExpertId, new SelectList(ViewBag.Experts, "Id", "Name"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ExpertId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Customer)
            @Html.ValidationMessageFor(model => model.Customer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrganizationId)
        </div>
        <div class="editor-field">
            <div id="selected-org" class="float-left" style="margin-right:10px">Не выбрана</div><button id="select-org" type="button">...</button>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceId)
        </div>
        <div class="editor-field">
            <div id="selected-service" class="float-left" style="margin-right:10px">Не выбрана</div><button id="select-service" type="button" style="float:left">...</button>
            <div>@Html.ValidationMessageFor(model => model.Service)</div>
            <div style="clear:both" />
        </div>

        <div class="editor-label">
        @Html.LabelFor(model => model.ServiceChildId)
        </div>
        <div class="editor-field">
            <div id="selected-service-child" class="float-left" style="margin-right:10px">Не выбрана</div><button id="select-service-child" type="button" style="float:left">...</button>
            <div>@Html.ValidationMessageFor(model => model.ServiceChild)</div>
            <div style="clear:both" />
        </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.TypeId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.TypeId, new SelectList(ViewBag.ActionTypes, "Id", "Caption"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeId)
            </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

            <p>
                <input type="submit" value="Сохранить" class="btn btn-lg btn-default" />
            </p>
</fieldset>
}
<div>
    @Html.ActionLink("Возврат к списку", "Index", new { date = Model.Date.ToString("dd.MM.yyyy"), user_id = Model.ExpertId})
</div>