@using mfc.domain.entities
@using PagedList
@using PagedList.Mvc;


@model mfc.web.Models.ActionListViewModel

@{
    ViewBag.Title = "Список оказанных услуг";
}

@{
    var itemOnPage = 50;

    int pageCount = (int)Math.Round((decimal)Model.Actions.Count / itemOnPage, 0);

    if (pageCount == 0) {
        pageCount = 1;
    }

    var firstIndex = (Model.Page - 1) * itemOnPage + 1;
    var lastIndex = Model.Page * itemOnPage;

    if (lastIndex >= Model.Actions.Count) {
        lastIndex = Model.Actions.Count;
    }

    var actions = new List<ServiceAction>();
    if (firstIndex > 0) {
        for (int index = firstIndex; index <= lastIndex; index++) {
            actions.Add(Model.Actions[index - 1]);
        }
    }

    var pagerModel = Model.Actions.ToPagedList(Model.Page, itemOnPage);
}

@section featured {
<section class="featured">
    <div class="row">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <div class="row">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-inner">
                @using (Html.BeginForm(string.Empty, "Action", FormMethod.Post, new { @class = "navbar-form" }))
                {
                    @Html.LabelFor(m => m.DateBegin, new { @class = "navbar-text" })
                    @Html.EditorFor(m => m.DateBegin)

                    @Html.LabelFor(m => m.DateEnd, new { @class = "navbar-text" })
                    @Html.EditorFor(m => m.DateEnd)

                    @Html.LabelFor(x => x.SelectedUserId, new { @class = "navbar-text" })
                    @Html.DropDownListFor(m => m.SelectedUserId, new SelectList(Model.Users, "Id", "Name"), new { @class = "form-control" })

                    <input type="submit" value="Обновить" class="btn btn-default navbar-btn" />
                }
            </div>
        </nav>
    </div>
</section>
}

@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Services)
}

<div class="row">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">Управление:</span>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <p class="navbar-btn">
                        @Html.ActionLink("Новый", "Create", new {date = DateTime.Today.ToShortDateString(), user_id = Model.SelectedUserId}, new {@class = "btn btn-default"})
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

@if (pagerModel.Count > 0)
{
    <div class="row">
        <div class="pull-right">
            @Html.PagedListPager(pagerModel, page => Url.Action("Index", new { page }))
        </div>
    </div>
}

<div class="row">
    <div class="table-responsive table-condensed">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Заявитель</th>
                    <th>Услуга</th>
                    <th>ОГВ</th>
                    <th>Тип услуги</th>
                    <th>Эксперт</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in actions)
                {
                    <tr>
                        <td>@item.Date.ToString("dd.MM.yyyy")</td>
                        <td>@Html.DisplayFor(modelItem => item.Customer)</td>
                        <td class="col-md-10">@Html.DisplayFor(modelItem => item.Service.Caption)</td>
                        <td>@Html.DisplayFor(modelItem => item.Service.Organization.Caption)</td>
                        <td>@Html.DisplayFor(modelItem => item.Type.Caption)</td>
                        <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                        <td class="col-toolbar">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (pagerModel.Count > 0)
{
    <div class="row">
        <div class="pull-right">
            @Html.PagedListPager(pagerModel, page => Url.Action("Index", new { page }))
        </div>
    </div>
}
