@model mfc.web.Models.ActionListViewModel

@{
    ViewBag.Title = "Список оказанных услуг";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1 class="page-header">@ViewBag.Title</h1>
            <p>
               @using (Html.BeginForm()) {
                <div style="margin: 0 10px; float: left">@Html.LabelFor(x => x.DateBegin) @Html.EditorFor(m => m.DateBegin)</div>
                <div style="margin: 0 10px;float:left">@Html.LabelFor(x => x.DateEnd) @Html.EditorFor(m => m.DateEnd)</div>
                <div style="margin: 0 10px;float:left">Эксперт: @Html.DropDownListFor(m => m.SelectedUserId, new SelectList(Model.Users, "Id", "Name"), new { @class = "form-control" })
                </div>
                <input type="submit" value="Обновить" class="btn btn-lg btn-default" />
                <div style="clear:both" />
               }
            </p>
        </div>
    </section>
}
@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Services)
}
<p>
    @Html.ActionLink("Новый", "Create", new { date = DateTime.Today.ToShortDateString(), user_id = Model.SelectedUserId })
</p>
<table class="table">
    <tr>
        <th>Дата</th>
        <th>Заявитель</th>
        <th>Услуга</th>
        <th>ОГВ</th>
        <th>Тип услуги</th>
        <th>Эксперт</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Actions) {
        <tr>
            <td>
                @item.Date.ToString("dd.MM.yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Organization.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>