@model mfc.web.Models.OrganizationTypeModel

@{
    var is_new = Model.Id <= 0;
    
    if (is_new) {
        ViewBag.Title = "Добавление типа ОГВ"; 
    }
    else {
        ViewBag.Title = "Редактирование типа ОГВ";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_AdminMenu", 1)
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(is_new ? "Create" : "Edit", "OrganizationType", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrganizationTypeModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Caption)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Caption)
            @Html.ValidationMessageFor(model => model.Caption)
        </div>

        <p>
            <input type="submit" value="Сохранить" class="btn btn-lg btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку", "List")
</div>