@model mfc.web.Models.FileStagesModel

@section workmenu {
    @Html.Partial("_AdminMenu", 7)
}

@using (Html.BeginForm("Index", "FileStage", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Этапы обработки дела</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <table style="margin-left : 15px">
                @{
    for (int index = 0; index < Model.Stages.Count; index++) {
                        <tr>
                            @Html.HiddenFor(modelItem => Model.Stages[index].Code)
                            @Html.HiddenFor(modelItem => Model.Stages[index].Caption)
                            <td>@Html.DisplayFor(modelItem => Model.Stages[index].Caption)</td>
                            <td>@Html.DropDownListFor(modelItem => Model.Stages[index].StatusId, new SelectList(Model.Statuses, "Id", "Caption", Model.Stages[index].StatusId), new { @class = "form-control" })</td>
                        </tr>
    }
                }
            </table>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}