@model mfc.web.Models.AccountInfo

@{
    ViewBag.Title = "Добавление нового пользователя";
}

@section featured {
    <section class="featured">
        <div class="row">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </section>
}

@section workmenu {
    @Html.Partial("_AdminMenu", 0)
}

<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new {@class = "form"})) {
            @Html.AntiForgeryToken()
            if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any())) {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(false, "Проверка данных: ")
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.EditorFor(m => m.UserName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.EditorFor(m => m.Description)
            </div>

            <input type="submit" value="Добавить" class="btn btn-default pull-right"/>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Вернуться к списку пользователей", "List")
</div>
