@model mfc.web.Models.AccountInfo

@{
    ViewBag.Title = "Удаление пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_AdminMenu", 0)
}

<h3>Удалить Пользователя?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AccountInfo</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Description)

        <div class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Удалить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку пользователей", "List")
</div>