@model mfc.web.Models.AccountInfo

@{
    ViewBag.Title = "Редактирование данных пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section workmenu {
    @Html.Partial("_AdminMenu", 0)
}

@section featured {
    <section class="featured">
        <div class="row">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
    </section>
}

<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new {@class = "form"})) {
            @Html.AntiForgeryToken()
            if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any())) {
                <div class="alert alert-danger">
                    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @Html.ValidationSummary(false, "Проверка данных: ")
                </div>
            }

            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(m => m.UserName)
                @Html.EditorFor(model => model.UserName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.EditorFor(m => m.Description)
            </div>

            @Html.Label("Роли")
            <ul>
                <li class="form-group">
                    @Html.CheckBoxFor(m => m.IsAdmin)
                    @Html.LabelFor(m => m.IsAdmin)
                </li>

                <li class="form-group">
                    @Html.CheckBoxFor(m => m.IsExpert)
                    @Html.LabelFor(m => m.IsExpert)
                </li>

                <li class="form-group">
                    @Html.CheckBoxFor(m => m.IsController)
                    @Html.LabelFor(m => m.IsController)
                </li>
            </ul>

            <hr/>

            <input type="submit" value="Сохранить" class="btn btn-default pull-right"/>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Вернуться к списку пользователей", "List")
</div>
