@model mfc.web.Models.PasswordModel
@{
    ViewBag.Title = String.Format("Установка пароля {0}", Model.UserName);
}

@section workmenu {
    @Html.Partial("_AdminMenu", 0)

}

@section featured {
    <section class="featured">
        <h1 class="page-header">@ViewBag.Title</h1>
    </section>
}

@using (Html.BeginForm("SetPassword", "Admin", FormMethod.Post, new { @class = "form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m=>m.UserName)
    @Html.HiddenFor(m => m.UserId)
    <fieldset>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Новый пароль" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтверждение нового пароля" })
        <input type="submit" value="Установить пароль" class="btn btn-lg btn-default" />
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку пользователей", "List")
</div>