@model mfc.web.Models.PasswordModel

@section workmenu {
    @Html.Partial("_AdminMenu", 0)
}

@using (Html.BeginForm("SetPassword", "Admin")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Установка пароля</legend>
        @Html.HiddenFor(model => model.UserId)
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Установить пароль" />
    </fieldset>
}
