@using MfcRoles = mfc.infrastructure.security.Roles;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Система учета МФЦ</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/jquery")
        @Scripts.Render("~/jqueryui")
        @Scripts.Render("~/bootstrap")
        <script src="~/Content/js/editor_hooksup.js"></script>
    </head>
<body>
 
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/" class="navbar-brand">АРМ МФЦ</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                        @if (User.IsInRole(MfcRoles.Admin)) {
                            <li>@Html.ActionLink("Администрирование", "Index", "Admin")</li>
                        }
                        <li id="login">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    @RenderSection("workmenu", required: false)
                </div>
                <div class="col-sm-8 col-md-8 main">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
            
            <footer class="navbar-fixed-bottom">
                <hr />
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - МФЦ город Урай</p>
                </div>
            </footer>
        </div>
        
</body>
</html>
