@model mfc.web.Models.ReportModel

@{
    ViewBag.Title = "Отчеты";
}

@section featured {
<section class="featured">
    <div class="row">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</section>
}

@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Reports)
}

<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Make", "Report", FormMethod.Post, new { @class = "form" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.DateBegin)
                @Html.EditorFor(m => m.DateBegin)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DateEnd)
                @Html.EditorFor(m => m.DateEnd)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerTypeId)
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.CustomerTypeId, new SelectList(ViewBag.CustomerTypes, "Id", "Caption"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerTypeId)
            </div>

            <div class="form-group">
                @foreach (var radioitem in Model.Reports)
                {
                    <label class="radio-inline">@Html.RadioButtonFor(model => model.Report, radioitem.Value) @radioitem.Text</label>
                }
            </div>

            <hr>

            <button type="submit" class="btn btn-default pull-right">Сформировать</button>
        }
    </div>
</div>
