@model mfc.web.Models.ReportModel
@{
    ViewBag.Title = "Отчеты";
}


    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title"><h2>@ViewBag.Title</h2></hgroup>
                
            </div>
        </section>
    }
@section workmenu {
    @Html.Partial("_WorkMenu", mfc.web.Constants.WorkMenuItems.Reports)
}
@using (Html.BeginForm("Make", "Report", FormMethod.Post, new { @class = "form" })) {
    <p>

        <div style="margin: 0 10px;float:left">
            <div style="margin: 0 10px;float:left">Дата начала: @Html.EditorFor(m => m.DateBegin)</div>
            <div style="margin: 0 10px;float:left">Дата окончания: @Html.EditorFor(m => m.DateEnd)</div>
        </div>
        <div style="clear:both" />

    </p>
    <ul style="list-style: none">
        @foreach (var radioitem in Model.Reports) {

            <li>@Html.RadioButtonFor(model => model.Report, radioitem.Value) @radioitem.Text</li>
        }
    </ul>
    <input type="submit" value="Сформировать" class="btn btn-lg btn-default" />
}

