@model mfc.web.Models.ServiceListViewModel

@{
    ViewBag.Title = "Справочник услуг";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Int64 last_org = -1; 
    bool render_hr = false;
}

@section workmenu {
    @Html.Partial("_AdminMenu", 4)
}

<script>
    $(function () {
        $('select#organization').bind('change', function () {
            var val = $(this).val();
        });
    });
</script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>@ViewBag.Title</h1>
            <p>
                @using (Html.BeginForm()) {
                    <div style="margin: 0 10px;float:left">
                        ОГВ: @Html.DropDownListFor(m => m.OrganizationId, new SelectList(Model.Organizations, "Id", "Caption"), new { Id = "organization", @class = "form-control" })
                    </div>
                    <div style="clear:both" />
                }
            </p>
        </div>
    </section>
}
<p>
    @Html.ActionLink("Новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            ОГВ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Caption)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Подуслуги", "Index", "ServiceChild", new { parentId = item.Id }, new { }) 
            </td>
        </tr>

    }

</table>
