@model mfc.web.Models.FileStatusModel

@section workmenu {
    @Html.Partial("_AdminMenu", 5)
}

<h3>Удалить статус?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<fieldset>
    <legend>FileStatusModel</legend>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Caption)

    <div class="display-field">
        @Html.DisplayFor(model => model.Caption)
    </div>
</fieldset>

    
    <p>
        <input type="submit" value="Удалить" />
    </p>
}

<p>@Html.ActionLink("Вернуться к списку", "List")</p>
