@model mfc.web.Models.FileStatusModel

@{
    if (Model.Id > 0) {
        ViewBag.Title = "Редактирование статуса";
    }
    else {
        ViewBag.Title = "Добавление статуса";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section workmenu {
    @Html.Partial("_AdminMenu", 5)
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ActionTypeModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Caption)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Caption)
            @Html.ValidationMessageFor(model => model.Caption)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку", "List")
</div>
